@import url(http://fonts.googleapis.com/css?family=Lato:100,400);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);

body{
	font-family: 'Josefin Sans', sans-serif;
	background-color: #AFE4DD;
}
#wrapper{
	margin-top : 7%;
}

#conformation{
	text-align: center;
}

.jumbotron{
	border-radius: 5px;
	margin : 3%;
	background-color: #ECF9F8;
}
#warmUp{
	font-family: 'Lato';
	text-align: center;
	font-weight: bold;
	margin-top: 10%;
	padding-top: 3%;
}

.col-sm-3{
	color: #328595;
	font-weight: bold;
}

.glyphicon{
	margin: 1px;
}

#submitDiv{
	margin-left: 34%;
}

h3{
	margin : 3%;
	padding-bottom: 2%;
}

a, button{
	font-family: 'Lato', sans-serif;
	margin : 0.5%;
}