center
	h3="A web app that sends sms message to subscribers if the temprature at their location is below certain degree"
	.row
		a(class="btn btn-success" href="/subscribe" role="button") Subscribe
		a(class="btn btn-info" href="/update" role="button") Update your subscription
		a(class="btn btn-danger" href="/unsubscribe" role="button") Unsubsribe